<div class="card">
  <div class="flex flex-wrap gap-4 mb-8">
    <div *ngFor="let pos of positionOptions" class="flex items-center">
      <p-radiobutton
        name="dock"
        [value]="pos.value"
        [(ngModel)]="position"
        [inputId]="pos.label"
      />
      <label [for]="pos.label" class="ml-2"> {{ pos.label }} </label>
    </div>
  </div>
  <div class="dock-window">
    <p-dock [model]="items" [position]="position">
      <ng-template #item let-item>
        <img [pTooltip]="item.label" tooltipPosition="top" [src]="item.icon" [alt]="item.label" width="100%" />
      </ng-template>
    </p-dock>
  </div>
</div>


<div class="card flex justify-center">
  <p-button label="Submit" (click)="toggleDarkMode()" />
</div>
